<div class="row">
    <div class="row-header">

        <h2 class="title">Genre - Movie - Show</h2>
        <div class="progress-bar">
            @for (_ of stepDots(); track $index) {
            <div class="dot" [class.active]="index()===$index "></div>
            }
        </div>
    </div>
</div>
<div class="container">
    <button class="handle left-handle" [class.d-none]="index()===0" (click)="prev()"></button>
    <div class="slider" [style.--cards-per-screen]="cardsPerView()" [style.--slider-index]="index()">
        @for (image of images(); track $index) {
        <div class="image-wrapper">
            <img [src]="image" alt="" />
            <div class="button-wrapper">
                <img class="play-button" src="assets/icons/play.svg" alt="">
                <img class="info-button" src="assets/icons/info.svg" alt="">
            </div>
        </div>
        }
    </div>
    <button class="handle right-handle" (click)="next()" [class.d-none]="(index()+1)===steps()"></button>
</div>