*,
*::after,
*::before {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
}

:host {
    --slider-padding: 1.5rem;
    --slider-index: 0;
}

.row {
    padding-top: .5rem;
    padding-left: calc(var(--slider-padding) + 1rem);
    padding-right: calc(var(--slider-padding) + 1rem);
    padding-bottom: .5rem;

    .row-header {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .title {
        z-index: 20;
        margin: 0;
    }

    .progress-bar {
        display: flex;
        gap: .2rem;
        z-index: 20;

        .dot {
            flex: 0 0 .8rem;
            height: .15rem;
            border-radius: .1rem;
            background-color: rgba(255, 255, 255, .3);
        }

        .active {
            background-color: white;
        }
    }

}

.container:hover .left-handle::after {
    content: '';
    background: url("../../../assets/icons/slide_arrow_left.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 4rem;
    height: 4rem;
}

.container:hover .right-handle::after {
    content: '';
    background: url("../../../assets/icons/slide_arrow_right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 4rem;
    height: 4rem;
}

.slider {
    --cards-per-screen: 4;
    display: flex;
    min-width: calc(100% - 2* var(--slider-padding));
    transform: translateX(calc(var(--slider-index)* -100%));
    border: 1rem;
    transition: all 600ms ease-in-out;

    app-card {
        --card-basis: calc(100%/(var(--cards-per-screen)));
    }
}

.handle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: .5rem;
    min-width: var(--slider-padding);
    z-index: 10;
    background-color: rgba(0, 0, 0, .35);
    transition: all 225ms ease-in-out;

    &:hover {
        background-color: rgba(0, 0, 0, .5);
        transition: all 225ms ease-in-out;
    }
}

.handle.d-none::after {
    content: none !important;
}

.handle.d-none.handle {
    background-color: transparent;
}

.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@media (min-width: 500px) {
    :host {
        --slider-padding: 3rem;
    }
}

@media (min-width: 800px) {
    :host {
        --slider-padding: 4rem;
    }
}

@media (min-width: 1100px) {
    :host {
        --slider-padding: 4rem;
    }
}

@media (min-width: 1400px) {
    :host {
        --slider-padding: 5rem;
    }
}