<div class="row">
    <div class="row-header">
        <h2 class="title">{{row()!.genre}}</h2>
        <div class="progress-bar">
            @for (_ of stepDots(); track $index) {
            <div class="dot" [class.active]="index()===$index "></div>
            }
        </div>
    </div>
</div>
<div class="container">
    <button class="handle left-handle" [class.d-none]="index()===0" (click)="prev()"></button>
    <div class="slider" [style.--cards-per-screen]="cardsPerView()" [style.--slider-index]="index()">
        @for (movie of row()!.movies; track movie.id) {
        <app-card [movie]="movie" style="--card-basis: calc(100% / var(--cards-per-screen));"></app-card>
        }
    </div>
    <button class="handle right-handle" (click)="next()" [class.d-none]="(index()+1)===steps()"></button>
</div>