.sign-dialog {
    padding: 3em 4.25em;
    width: max-content;
    height: max-content;
}


.bttn-full-width {
    width: 100%;
    height: 2.5rem;
    font-size: 0.9rem;
    margin-top: 1rem;
    justify-content: center;
}