.sign-in {
    padding: 3em 4.25em;
    width: 20rem;
    height: max-content;
}

.bttn-full-width {
    width: 100%;
    height: 2.5rem;
    font-size: 0.9rem;
    margin-top: 1rem;
}

.route-text{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: rgb(160, 160, 160);
    }
}


