<div class="sign-dialog">
    <div class="wraper">
        <h2>Passwort vergessen</h2>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <app-sign-input [control]="emailControl" label="E-Mail" type="email" [errorMessages]="{
          required: 'Dieses Feld ist erforderlich.',
          email: 'Bitte geben Sie eine gültige E-Mail-Adresse ein.'
        }"></app-sign-input>

            <button class="bttn-red bttn-full-width" type="submit" [disabled]="form.invalid">
                Absenden
            </button>
        </form>
    </div>
</div>