<div class="language-dropdown">
    <!-- Trigger -->
    <div class="selected-language" (click)="toggleDropdown()">
        <img class="language-icon" src="../../../assets/icons/language.svg" alt="language icon" />
        <div class="space-arrow-container">
            <span>{{ selectedLanguage().label }}</span>
            <img class="dropdown-arrow" src="../../../assets/icons/arrow_dropdown_down.svg" [class.open]="isOpen()"
                alt="dropdown arrow" />
        </div>
    </div>

    <!-- Menu -->
    @if (isOpen()) {
    <ul class="language-options open">
        @for (language of languages(); track language.code) {
        <li (click)="selectLanguage(language)" [class.selected]="language.code === selectedLanguage().code">
            @if (language.code === selectedLanguage().code) {
            <img class="language-icon" src="../../../assets/icons/check.svg" alt="selected" />
            
            } @else {
            <img class="language-icon check-placeholder" src="../../../assets/icons/check.svg" alt="" />
            }
            <span>{{ language.label }}</span>
        </li>
        }
    </ul>
    }
</div>