<div class="sign-dialog sign-up">
    <div>
        <h2>{{"Sign Up"| translate}}</h2>
        <form [formGroup]="signupForm" (ngSubmit)="signup()">

            <app-sign-input [control]="emailControl" label="E-Mail" type="email" [errorMessages]="{
                    required:('This field is required.'| translate),
                    invalidIdentifier: ('Please enter a valid email address.'| translate)}">
            </app-sign-input>
            <app-sign-input [control]="passwordControl" label="{{'Password' | translate}}" type="password"
                [errorMessages]="{
                    required: ('This field is required.'| translate),
                    minlength: ('The password must be at least 8 characters long.'| translate),
                maxlength: ('The password may be a maximum of 60 characters long.'| translate),
                pattern: ('The password must contain at least one uppercase letter, one lowercase letter, one number and one special character.'| translate),
                }">
            </app-sign-input>
            <app-sign-input [control]="confirmPasswordControl" label="{{'Repeat password' | translate}}" type="password"
                [errorMessages]="{
                    required: ('Please repeat your password'| translate),
                    passwordMismatch: ('The passwords do not match.'| translate),
                }">
            </app-sign-input>
            <button class="bttn-red bttn-full-width" type="submit" [disabled]="signupForm.invalid">{{"Sign Up"|
                translate}}</button>
        </form>
    </div>
    <p class="recapcha-text">{{"This site is secured by Google reCAPTCHA to ensure you are not a bot." | translate}}<br>
        {{"For more information, see bottom right!" | translate}}
    </p>
</div>