<div class="search-wrapper">
    <div class="header">
        <h2>{{'Search results'| translate}}</h2>
        @if (searchService.loading()) {
        <app-spinner-little></app-spinner-little>
        }
    </div>
    <div class="grid">
        @for (movie of searchService.viewResults(); track movie.id) {
        <app-card class="card" [movie]="movie" style="--card-basis: auto;"></app-card>
        }
        @empty {
        @if(searchService.error()){
        <p class="error">{{ searchService.error() }}</p>
        }@else {
        <p>{{'No results for '| translate}}"{{ searchService.query() }}"</p>
        }
        }
    </div>
</div>