<div class="impressum">
    <header>
        <app-header></app-header>
    </header>
    <main>
        <h1>Impressum</h1>

        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <p>Tobias Ruhmanseder<br />
            Lerchenring 29<br />
            94377 Steinach</p>

        <h2>Kontakt</h2>
        <p>Telefon: +49 (0) 162 6375580<br />
            E-Mail: mail&#64;tobias-ruhmanseder.de</p>

        <p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>