@if (success()) {
<h3 class="info-text">
    <h1>{{'Verification of'| translate}} {{email()}} {{' successful!'| translate}}</h1>
    <p>{{'You can log in now.'| translate}}</p>
    <br>
    <a class="link" [routerLink]="['/home/sign-in']" [queryParams]="{ email: email() }">
        {{'Click here to go to the login page'| translate}}
    </a>
</h3>
}
@else if (resend()){
<h3 class="info-text">
    <h1>{{'Resending the verification was successful!'| translate}}</h1>
    <p>{{'Please check your email inbox'| translate}}</p>
    <br>
    <a class="link" (click)="resendVerification()">
        {{'Get a new verification mail'| translate}}
    </a>
</h3>
}
@else if (notActivated()){
<h3 class="info-text">
    <h1>{{'
        Your email address still needs to be verified.' | translate}}</h1>
    <p>{{'Check your email inbox or request verification again.' | translate}}</p>
    <br>
    <a class="link" (click)="resendVerification()">
        {{'Get a new verification mail'| translate}}
    </a>
</h3>
}
@else {
<h3 class="info-text">
    <h1>{{'Something went wrong'| translate}}</h1>
    <p>{{'The verification link is invalid or expired.' | translate}}</p>
    <br>
    <a class="link" (click)="resendVerification()">
        {{'Get a new verification mail'| translate}}
    </a>
</h3>
}