.hero-view {
    position: relative;

    .overlay {
        position: absolute;
        bottom: 10rem;
        padding: 10rem;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
        pointer-events: none;
        box-shadow:
            inset 80px 0 80px -60px rgba(0, 0, 0, 0.9),
            inset -80px 0 80px -60px rgba(0, 0, 0, 0.9),
            inset 0 80px 80px -60px rgba(0, 0, 0, 1),
            inset 0 -100px 60px -20px rgba(0, 0, 0, 1.9);
    }
}

video {
    min-width: 100%;
    min-height: 100%;
}

.mr-1rem {
    margin-right: 1rem;
}

.img-logo {
    display: block;
    width: 15vw !important;
    margin-bottom: 3rem;
}