.privacy {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    padding-top: 7rem;
    padding-left: 6rem;
    padding-right: 6rem;

    flex: 1;
}