.privacy {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
}

header {
    width: 100vw;
}

.main-wr {
    width: 100vw;
    display: flex;
    justify-content: start;
    flex: 1;
    max-width: 1980px
}

main {
    padding: 10rem 6rem;
    padding-top: 10rem;
    padding-top: 10rem;
}

footer {
    width: 100vw;
}