<div class="favorite-wrapper">
    <div class="header">
        <h2>{{"Your favorites list" | translate }}</h2>
        @if (this.favoriteService.loading()) {
        <app-spinner-little></app-spinner-little>
        }
    </div>
    <div class="grid">
        @for (movie of this.favoriteService.movies(); track movie.id) {
        <app-card class="card" [movie]="movie" style="--card-basis: auto;"></app-card>
        }
        @empty {
        @if(this.favoriteService.error()){
        <p class="error">{{"An unexpected error occurred!" | translate }}</p>
        }@else {
        <p>{{"Your list is still empty" | translate }}</p>
        }
        }
    </div>
</div>