.favorite-wrapper {
    padding-top: 10rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.grid {
    display: grid;
    gap: 5rem 0.25rem;
    grid-template-columns: repeat(var(--cards-per-row, 6), 1fr);

}

.card {
    // aspect-ratio: 16 / 9;
    border-radius: .35rem;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    display: flex;
    align-items: center;

    h2 {
        margin-right: 2rem;
    }
}