.home {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/img/background_landing2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    margin-top: 15rem;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
}

.header-menu {
    padding: 1rem 6rem 0rem 6rem;
    width: calc(1980px - 12rem);
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 20rem;
    }
}

.bttn-header {
    width: 6.5rem;
    height: 2rem;
    font-size: 0.9rem;
}

.login-language-section {
    display: flex;
}

.header-language-dropdown {
    margin-right: 1rem;
}

.d-none{
    display: none;
}