.hero-fader {
    opacity: 1;
    transition: opacity 1200ms ease;
    will-change: opacity;
    margin-bottom: -14rem;

}

.hero-fader.is-fading {
    opacity: 0;
}

.dots {
    display: flex;
    gap: .5rem;
    justify-content: center;


    button {
        width: .8rem;
        height: .3rem;
        border-radius: .1rem;
        border: 0;
        background: #424242;
        opacity: .6;
        cursor: pointer;

        &.active {
            background: #fff;
            opacity: 1;
            transform: scale(1.15);
        }
    }
}

.hero-wrap {
    margin-bottom: 1.2rem;
}

.hero-fader {
    opacity: 1;
    transition: opacity 350ms ease;
}

.hero-fader.is-fading {
    opacity: 0;
}

.rows {
    display: grid;
    gap: 1.2rem;
}




@media screen and (max-width:500px) {

    .hero-fader {
        margin-bottom: 8rem;

    }

}

@media screen and (max-width:500px) {

    .dots {
        display: none;
    }
}